<nav class="pt-0 navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
        <nav class="navbar bg-body-tertiary">
          <div class="container">
            <a class="navbar-brand p-0" href="#">
              <img src="https://cashplus.vn/images/homecashplus/logonew1.png" alt="Bootstrap" width="30" height="24">
              <span class="mx-1">Logo</span>

            </a>
          </div>
        </nav>
      </div>
      <div class="header-right d-flex justify-content-center">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div>
              <span class="material-symbols-outlined p-2">search</span>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
                <span role=button aria-expanded="false" data-bs-toggle="dropdown"
                      class="material-symbols-outlined p-2">
                  notifications</span>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">noti 1</a></li>
                <li><a class="dropdown-item" href="#">noti 2</a></li>
                <li><a class="dropdown-item" href="#">noti 3</a></li>
                <li><a class="dropdown-item" href="#">noti 4</a></li>
                <li><a class="dropdown-item" href="#">noti 5</a></li>
                <li><a class="dropdown-item" href="#">noti 6</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <span class="material-symbols-outlined p-2 ">settings</span>
          </li>
        </ul>
        <div role="group" class="mx-3 btn-group dropstart d-flex justify-content-center align-items-center">
                    <span class="material-symbols-outlined">bolt</span>
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                      <span>Username</span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Info</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>

        </div>
      </div>
    </div>
  </div>
</nav>
