<!-- BEGIN #sidebar -->
@if (!isShowSidebar()) {
  <div @sidebarAnimation  class="col-2 sidebar sidebar-inverse bg-dark position-absolute"
  >
    <!-- BEGIN scrollbar -->
    <div data-scrollbar="true" data-height="100%">
      <!-- BEGIN nav -->
      <ul class="nav d-block position-relative p-0 m-0">
        <li class="nav-profile d-table content
          text-white p-3">
          <div class="image float-start overflow-hidden rounded-circle ">
            <img class="h-100" alt="avatar"
                 src="https://images.pexels.com/photos/775687/pexels-photo-775687.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            />
          </div>
          <div class="info ms-md-5 pt-1">
            <h4 class="fw-medium small">Template CIM</h4>
            <p class="m-0 lh-1">UXUI Frontend Developer</p>
          </div>
        </li>
        <li class="nav-divider bg-gray overflow-hidden"></li>
        <li class="nav-header mt-0 p-2  ps-3">
          <dt>Navigation</dt>
        </li>
        <li class="has-sub">
          <a class="text-white text-decoration-none small fw-medium d-flex align-items-center"
             [routerLink]="'/table'">
            <span class="material-symbols-outlined  opacity-25">table</span>
            <span class="mx-3">Table</span>
          </a>
        </li>
        <li class="has-sub">
          <a class="text-white text-decoration-none small fw-medium d-flex align-items-center"
             [routerLink]="'/button'">
            <span class="material-symbols-outlined  opacity-25">select_check_box</span>
            <span class="mx-3">Button</span>
          </a>
        </li>
        <li class="has-sub">
          <a class="text-white text-decoration-none small fw-medium d-flex align-items-center"
             [routerLink]="'/form'">
            <span class="material-symbols-outlined opacity-25">select_check_box</span>
            <span class="mx-3">Form</span>
          </a>
        </li>
        <li class="nav-divider"></li>
        <li class="nav-header p-2  ps-3">
          <dt>Components</dt>
        </li>


        <li class="has-sub">
          <a class="text-white text-decoration-none small fw-medium d-flex align-items-center"
             [routerLink]="'/table'">
            <span class="material-symbols-outlined  opacity-25">table</span>
            <span class="mx-3">Table</span>
          </a>
        </li>
        <li class="has-sub">
          <a class="text-white text-decoration-none small fw-medium d-flex align-items-center"
             [routerLink]="'/button'">
            <span class="material-symbols-outlined  opacity-25">select_check_box</span>
            <span class="mx-3">Button</span>
          </a>
        </li>
        <li class="has-sub">
          <a class="text-white text-decoration-none small fw-medium d-flex align-items-center"
             [routerLink]="'/form'">
            <span class="material-symbols-outlined opacity-25">select_check_box</span>
            <span class="mx-3">Form</span>
          </a>
        </li>


        <li class="nav-divider"></li>
        <li class="nav-header p-2  ps-3">
          <dt>Users</dt>
        </li>
        <li class="has-sub">
          <a class="text-white text-decoration-none small fw-medium d-flex align-items-center"
             [routerLink]="'/table'">
            <span class="material-symbols-outlined  opacity-25">table</span>
            <span class="mx-3">Table</span>
          </a>
        </li>
        <li class="has-sub">
          <a class="text-white text-decoration-none small fw-medium d-flex align-items-center"
             [routerLink]="'/button'">
            <span class="material-symbols-outlined   opacity-25">select_check_box</span>
            <span class="mx-3">Button</span>
          </a>
        </li>
        <li class="has-sub">
          <a class="text-white text-decoration-none small fw-medium d-flex align-items-center"
             [routerLink]="'/form'">
            <span class="material-symbols-outlined opacity-25">select_check_box</span>
            <span class="mx-3">Form</span>
          </a>
        </li>
        <li class="nav-divider"></li>

        <li class="nav-copyright pt-1 small p-3 text-secondary">&copy; 2017 seanTheme All Right Reserved</li>
      </ul>
      <!-- END nav -->
    </div>
    <!-- END scrollbar -->
    <!-- BEGIN sidebar-minify-btn -->
    <div role="button" (click)="onHideSidebar()"
         class="sidebar-minify-btn position-absolute text-decoration-none text-white text-center rounded-0 bg-secondary "
    >
      <span class="d-block material-symbols-outlined">arrow_back</span>
    </div>
    <!-- END sidebar-minify-btn -->
  </div>
} @else {
  <div   class="sidebar-minimize2 col-2 sidebar bg-dark position-absolute">
    <!-- BEGIN scrollbar -->
    <div data-scrollbar="true" data-height="100%">
      <!-- BEGIN nav -->
      <ul class="nav d-block position-relative p-0 m-0">
        <li class="nav-profile d-table content
          text-white p-3">
          <div class="image float-start overflow-hidden rounded-circle ">
            <img class="h-100" alt="avatar"
                 src="https://images.pexels.com/photos/775687/pexels-photo-775687.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            />
          </div>

        </li>
        <li class="nav-divider bg-gray overflow-hidden"></li>
        <li class="nav-header mt-0 p-1  ps-3">
          <dt>Navi...</dt>
        </li>
        <li class="has-sub">
          <div  [title]="'Table'">
            <a
              class="text-white text-decoration-none small nav-header mt-0 p-2  ps-3 d-flex align-items-center"
              [routerLink]="'/table'">
              <span class="material-symbols-outlined  opacity-25">table</span>
            </a>
          </div>
        </li>
        <li class="has-sub">
          <div  [title]="'Button'">
            <a
              class="text-white text-decoration-none small nav-header mt-0 p-2  ps-3 d-flex align-items-center"
              [routerLink]="'/button'">
              <span class="material-symbols-outlined  opacity-25">select_check_box</span>
            </a>
          </div>
        </li>
        <li class="has-sub">
          <div [title]="'Form'">
            <a
              class="text-white text-decoration-none small nav-header mt-0 p-2  ps-3 d-flex align-items-center"
              [routerLink]="'/form'">
              <span class="material-symbols-outlined  opacity-25">select_check_box</span>
            </a>
          </div>
        </li>


        <li class="nav-divider"></li>
        <li class="nav-header p-2  ps-3">
          <dt>Comp...</dt>
        </li>


        <li class="has-sub">
          <div  [title]="'Table'">
            <a
              class="text-white text-decoration-none small nav-header mt-0 p-2  ps-3 d-flex align-items-center"
              [routerLink]="'/table'">
              <span class="material-symbols-outlined  opacity-25">table</span>
            </a>
          </div>
        </li>
        <li class="has-sub">
          <div  [title]="'Button'">
            <a
              class="text-white text-decoration-none small nav-header mt-0 p-2  ps-3 d-flex align-items-center"
              [routerLink]="'/button'">
              <span class="material-symbols-outlined  opacity-25">select_check_box</span>
            </a>
          </div>
        </li>
        <li class="has-sub">
          <div [title]="'Form'">
            <a
              class="text-white text-decoration-none small nav-header mt-0 p-2  ps-3 d-flex align-items-center"
              [routerLink]="'/form'">
              <span class="material-symbols-outlined  opacity-25">select_check_box</span>
            </a>
          </div>
        </li>


        <li class="nav-divider"></li>
        <li class="nav-header p-2  ps-3">
          <dt>Users</dt>
        </li>
        <li class="has-sub">
          <div  [title]="'Table'">
            <a
              class="text-white text-decoration-none small nav-header mt-0 p-2  ps-3 d-flex align-items-center"
              [routerLink]="'/table'">
              <span class="material-symbols-outlined  opacity-25">table</span>
            </a>
          </div>
        </li>
        <li class="has-sub">
          <div  [title]="'Button'">
            <a
              class="text-white text-decoration-none small nav-header mt-0 p-2  ps-3 d-flex align-items-center"
              [routerLink]="'/button'">
              <span class="material-symbols-outlined  opacity-25">select_check_box</span>
            </a>
          </div>
        </li>
        <li class="has-sub">
          <div [title]="'Form'">
            <a
              class="text-white text-decoration-none small nav-header mt-0 p-2  ps-3 d-flex align-items-center"
              [routerLink]="'/form'">
              <span class="material-symbols-outlined  opacity-25">select_check_box</span>
            </a>
          </div>
        </li>
        <li class="nav-divider"></li>

      </ul>
      <!-- END nav -->
    </div>
    <!-- END scrollbar -->
    <!-- BEGIN sidebar-minify-btn -->
    <div role="button" (click)="onHideSidebar()"
         class="sidebar-minify-btn position-absolute text-decoration-none text-white text-center rounded-0 bg-secondary "
    >
      <span class="material-symbols-outlined">arrow_forward</span>
    </div>
    <!-- END sidebar-minify-btn -->
  </div>
}
<!-- END #sidebar -->
