<!-- BEGIN #sidebar -->
<div id="sidebar" class="sidebar sidebar-inverse">
  <!-- BEGIN scrollbar -->
  <div data-scrollbar="true" data-height="100%">
    <!-- BEGIN nav -->
    <ul class="nav">
      <li class="nav-profile">
        <div class="image">
          <img src="https://cashplus.vn/images/homecashplus/logonew1.png" />
        </div>
        <div class="info">
          <h4>Template CIM</h4>
          <p>UXUI Frontend Developer</p>
        </div>
      </li>
      <li class="nav-divider"></li>
      <li class="nav-header">Navigation</li>
      <li><a href="index.html"><i class="ti-home"></i><span>Home</span></a></li>
      <li><a href="analytics.html"><i class="ti-pie-chart"></i><span>Analytics</span></a></li>
      <li class="has-sub">
        <a href="javascript:;">
          <span class="caret caret-right pull-right"></span>
          <i class="ti-email"></i>
          <span>Email <span class="notification">20+</span></span>
        </a>
        <ul class="sub-menu">
          <li><a href="email_inbox.html">Inbox</a></li>
        </ul>
      </li>
      <li class="nav-divider"></li>
      <li class="nav-header">Components</li>
      <li class="has-sub">
        <a href="javascript:;">
          <b class="caret caret-right pull-right"></b>
          <i class="ti-notepad"></i>
          <span>Forms</span>
        </a>
        <ul class="sub-menu">
          <li><a href="form_elements.html">Form Elements</a></li>
        </ul>
      </li>
      <li class="has-sub">
        <a class="d-flex align-items-center" [routerLink]="'/bootstrap'">
          <span class="material-symbols-outlined">table</span>
          <span class="m-l-3">Table</span>
        </a>
      </li>
      <li class="has-sub">
        <a class="d-flex align-items-center"
           [routerLink]="'/button'">
          <span class="material-symbols-outlined">table</span>
          <span class="m-l-3">Button</span>
        </a>
      </li>



      <li class="nav-divider"></li>
      <li class="nav-header">Users</li>
      <li><a href="profile.html"><i class="ti-user"></i><span>Profile</span></a></li>
      <li><a href="calendar.html"><i class="ti-calendar"></i> <span>Calendar</span></a></li>
      <li><a href="settings.html"><i class="ti-settings"></i><span>Settings</span></a></li>
      <li><a href="helper.html"><i class="ti-help-alt"></i><span>Helper</span></a></li>
      <li class="has-sub">
        <a href="javascript:;">
          <b class="caret caret-right pull-right"></b>
          <i class="ti-align-left"></i>
          <span>Menu Level</span>
        </a>
        <ul class="sub-menu">
          <li class="has-sub">
            <a href="javascript:;">
              <b class="caret caret-right pull-right"></b>
              Menu 1.1
            </a>
            <ul class="sub-menu">
              <li class="has-sub">
                <a href="javascript:;">
                  <b class="caret caret-right pull-right"></b>
                  Menu 2.1
                </a>
                <ul class="sub-menu">
                  <li><a href="javascript:;">Menu 3.1</a></li>
                  <li><a href="javascript:;">Menu 3.2</a></li>
                </ul>
              </li>
              <li><a href="javascript:;">Menu 2.2</a></li>
              <li><a href="javascript:;">Menu 2.3</a></li>
            </ul>
          </li>
          <li><a href="javascript:;">Menu 1.2</a></li>
          <li><a href="javascript:;">Menu 1.3</a></li>
        </ul>
      </li>
      <li class="nav-divider"></li>

      <li class="nav-divider"></li>
      <li class="nav-copyright">&copy; 2017 seanTheme All Right Reserved</li>
    </ul>
    <!-- END nav -->
  </div>
  <!-- END scrollbar -->
  <!-- BEGIN sidebar-minify-btn -->
  <a href="#" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="ti-arrow-left"></i></a>
  <!-- END sidebar-minify-btn -->
</div>
<!-- END #sidebar -->
